  .cal-pending {
    background-color: rgb(229, 255, 0);
    color: black;
  }

  .cal-confirmed {
    background-color: rgb(0, 255, 34);
    color: black;
  }

  .rbc-selected {
    color: white;
  }